./rapport/auto/*
*.aux
*.log
*.out
*.toc
./rapport/rapport.pdf
rapport.pdf
/rapport/auto/
*.gz
domtutor-validator/venv
/python/__pycache__/
/rapport/.auctex-auto/
/rapport/rapport.fdb_latexmk
/rapport/rapport.fls
/rapport/rapport.bbl
/rapport/rapport.blg
